{{#each monkeys}}
<div class="monkey">
    <h2>{{this.name}}</h2>
    <img src={{this.image}}>
    <button>Info</button>
    <p style="display: none" id="2">
        {{this.info}}
    </p>
</div>
{{/each}}